.form-group{
    padding: 10px;
    text-align: center;
}
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    color: white;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    background: #04AA6D;
    width: 70%;
    border-radius: 5px;
    margin: auto;
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    background-color: #fff;
    opacity: 0.6;
    transform: 0.3s;
}
.login-form-1 .btnSubmit:hover{
    opacity: 1;
}
.login-form-1 .ForgetPwd{
    color: white;
    font-weight: 600;
    text-decoration: none;
}
